<table class="w-full shadow rounded-sm overflow-hidden mt-4">
	<thead class="bg-blue-600 text-white">
		<tr>
			<td>#</td>
			<td>Title</td>
			<td>Amount</td>
			<td>Category</td>
			<td>Date</td>
			<td class="text-right">Actions</td>
		</tr>
	</thead>
	<tbody>
		<tr
			*ngFor="
				let transaction of transactions
					| paginate : { itemsPerPage: 5, currentPage: currentPage };
				let i = index
			">
			<td>{{ i + 1 }}</td>
			<td>{{ transaction.title }}</td>
			<td
				[ngClass]="
					transaction.type === 'income'
						? 'text-green-500'
						: 'text-red-500'
				">
				{{ transaction.amount | currency }}
			</td>
			<td>{{ transaction.category?.title || "Other" }}</td>
			<td>{{ transaction.createdAt | date }}</td>
			<td class="text-right">
				<button (click)="delete(transaction.id)">
					<fa-icon [icon]="faTrash" class="text-red-600"></fa-icon>
				</button>
			</td>
		</tr>
	</tbody>
</table>
<pagination-controls
	class="flex text-xs mt-4 justify-end"
	(pageChange)="currentPage = $event"></pagination-controls>
